<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'hello' | translate(locale, translations) }}</title>
</head>
<body>
    <p>{{ 'hello' | translate(locale, translations) }}</p>
    <p>{{ 'goodbye' | translate(locale, translations) }}</p>
</body>
</html>
