<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'hello' | trans(locale) }}</title>
</head>
<body>
    <p>{{ 'hello' | trans(locale) }}</p>
    <p>{{ 'goodbye' | trans(locale) }}</p>
</body>
</html>
